<% provide :title, t(".ab") %>
<h1><%= t(".ab") %></h1>
<p>
  <%= link_to Settings.rubyonrailstutorial, Settings.railstutorial %> <%= t(".isa") %>
  <%= link_to t(".b"), Settings.railsbook %>
  <%= t(".and") %> <%=  link_to t(".screencast"), Settings.screen %>
  <%= t(".toteachweb") %> <%= link_to "Ruby on Rails", Settings.rubyonrails %>
  <%= t(".thisisathesample") %>
</p>
