<% provide :title, t(".con") %>
<%= link_to t(".eng"), locale: Settings.en %>
<%= link_to t(".vie"), locale: Settings.vi %>
<h1><%= t(".con") %></h1>
<p>
  <%= t(".ctror") %> <%= link_to t(".contactpage"), Settings.railscon %>
</p>
