<% provide :title, t(".con") %>
<%= link_to t(".eng"), locale: Setting.en %>
<%= link_to t(".vie"), locale: Setting.vi %>
<h1><%= t(".con") %></h1>
<p>
  <%= t(".ctror") %> <%= link_to t(".contactpage"), Setting.railscon %>
</p>
